button {
    background-color: #19b5ff;
    width: 100px;
    height: 50px;
    border-radius: 25px;
    border: 10px solid #1a4052;
    color: white;
    cursor: pointer;
}

.destaque {
    background-color: red;
    width: 200px;
    height: 100px;
    justify-content: center;
    color: black;

}